@import './variables.scss';

.content {
    &__article{
        margin-bottom: 2%;
    }
    &__section{
        margin-top: 20%;
        height: 30%;
    }
}
.content__part {
    margin-top: 20%;
    height: 30%;
}
.work-section {
    margin-top: 20%;
    height: 30%;
}